/* .overlay {
    position: 'absolute',
    top: '100%', // Position right below the button
    left: 0,
    width: '300px',
    backgroundColor: 'white',
    padding: '20px',
    borderRadius: '8px',
    boxShadow: '0 2px 10px rgba(0, 0, 0, 0.1)',
    border: '1px solid #ddd',
    zIndex: 1000,
    marginTop: '5px', // Small gap between button and overlay
  } */

.sub-menu {
  /* Your custom styles here */
  margin-left: 10px !important;
  padding: 14px !important;
}

/* Styling for the menubar container (div) */
div[role='menubar'] {
  padding: 0px !important;
}

div[role='menubar'] button {
  align-items: unset !important;
}
